<!-- Heading Starts Here -->
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{name}}</h1>
        <p><a href="/">Home</a> / <span>About</span></p>
      </div>
    </div>
  </div>
</div>
<!-- Heading Ends Here -->


<!-- About Starts Here -->
<div class="about">
  <div class="container">
    <div class="section-heading">
      <h3>About Me</h3>

      <p>I have 3+ years experience in the software industry working in various software technologies like Angular, .Net
        etc.</p>
    </div>
    <h2>A bit about my education</h2><br>
    <div id='tabs'>
      <ul>
        <li><a href='#tabs-1'>Bachelors in Computer Applications</a></li>
        <li><a href='#tabs-2'>Masters in Computer Applications</a></li>
        <li><a href='#tabs-3'>PG Diploma in Mobile Solutions Development</a></li>
      </ul>
      <section class='tabs-content'>
        <article id='tabs-1'>
          <p>Rajagiri College of Management & Applied Sciences- Kakkanad, India.
            <br><br>JUNE 2013 - APRIL 2016
          </p>
        </article>
        <article id='tabs-2'>
          <p>Amrita School of Art & Sciences- Kochi, India.
            <br><br>AUGUST 2016 - MAY 2018
          </p>
        </article>
        <article id='tabs-3'>
          <p>Conestoga College, Waterloo, Canada.
            <br><br>SEPTEMBER 2021 – DECEMBER 2022
          </p>
        </article>
      </section>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- About Ends Here -->

<div class="col-md-12">
  <div class="footer-row">
  </div>
</div>