<!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>{{name}}</h2>
              <div class="section-heading">
              <span><h4>I'm a Front-End Developer from Ontario, Canada, with a serious passion for Coding and Designing.</h4></span>
            </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
            <div class="footer-row">
    </div></div>