<!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{name}}</h1>
            <p><a href="/">Home</a> / <span>Projects</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <div class="project-section">
      <div class="background-image-pricing">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <h1>My Projects</h1>
          </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Chat Bot</h4>
              <div class="price">
                <h6>Ministry of Transportation of Ontario<br><br></h6>
              </div>
              <p>Created a website along with a chatbot for the Ministry of Transportation of Ontario, Canada
which answers the queries of Drivers.
Also created custom policies for the website for login through Public
Secure identity provider using PKCE flow. Also has worked on the driver
portal website for the Ontario government.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>NodeJS, Git, QnA Maker</li>
                <li><i class="fa fa-check"></i>LUIS, Azure AD B2C</li>
                <li><i class="fa fa-check"></i> TypeScript, JavaScript</li>
                <li><i class="fa fa-check"></i>HTML, CSS</li><br>
                <li><i class="fa fa-check"></i>Angular, AngularJS</li><br>
                <li><i class="fa fa-check"></i>Azure</li>
              </ul>
              {{!-- <a href="#" class="main-button">View</a> --}}
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Automation</h4>
              <div class="price price-gradient">
                <h6>Yard Management (Norfolk Southern)</h6>
              </div>
              <p><br><br>Project is to automate the day to day activities in a Yard. The business
deals with managing the works at the yard, to identify and track
movement of different equipment used in and around the yard.<br><br><br></p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>MS Visual Studio 2017</li>
                <li><i class="fa fa-check"></i>MS SQL server</li><br>
                <li><i class="fa fa-check"></i>ReSharper </li><br>
                <li><i class="fa fa-check"></i>XAML, WPF, C#</li>
                <li><i class="fa fa-check"></i>MVVM, ArcGIS Runtime</li><br>
                <li><i class="fa fa-check"></i>TFS</li>
              </ul>
              {{!-- <a href="#" class="gradient-button">View</a> --}}
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Website</h4>
              <div class="price">
                <h6><br>Let’s Design<br><br><br></h6>
              </div>
              <p><br><br><br><br>Helps you design your own website based on some preset templates for
each component on the site.<br><br><br></p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>MS Visual Studio 2017</li>
                <li><i class="fa fa-check"></i>MS SQL server</li><br>
                <li><i class="fa fa-check"></i>XAML, C#</li><br>
                <li><i class="fa fa-check"></i>WPF</li><br>
                <li><i class="fa fa-check"></i>MVC</li><br>
                <li><i class="fa fa-check"></i>ASP.NET</li>
              </ul>
              {{!-- <a href="#" class="main-button">View</a> --}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Services Starts Here -->
    <div class="services-section services-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Services I Provide</h2>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-info-circle"></i>
              <h4>Chat Bot</h4>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-desktop"></i>
              <h4>Website Designing</h4>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-windows"></i>
              <h4>Windows Application</h4>
             
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-cloud-upload"></i>
              <h4>Azure AD B2C</h4>
              
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-mobile-phone"></i>
              <h4>Mobile Application</h4>
             
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-support"></i>
              <h4>Over the phone support</h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->
   <div class="col-md-12">
            <div class="footer-row">
    </div></div>